/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

/* ============== Variable =========== */
:root {
    --bg-color: #161616;
    --text-color: #FFFFFF;
    --btn-color: #DD0000;
    --secondary-text-color: #B9B9B9;
}

/* ============== Base Styles ============ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}